workDir = "${PW_PROJECT_DIR}/work"
process.executor = "slurm"
process.clusterOptions = "--priority=5"
executor.account = "${HEADNODE_ACCOUNTING}"
apptainer {
    enabled = true
    autoMounts = true
    cacheDir = "${APPTAINER_CACHEDIR}"
    runOptions = '--containall -B \$TMPDIR -W \$TMPDIR'
}
dag.overwrite = true
